<div class="container">
<h2>Terms of Use</h2>

  <p align="center"><b>NickCool, LLC: Web Site Agreement</b></p>

  <p>The NickCool, LLC: Web Site Agreement Web Site (the &quot;Site&quot;) is an 
  online information service provided by NickCool, LLC, subject to your compliance 
  with the terms and conditions set forth below. PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR 
  USING THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET 
  FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE 
  SITE. NickCool, LLC MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS 
  SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT ON THE SITE. YOU AGREE TO REVIEW THE 
  AGREEMENT PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED ACCESS OR USE OF THE SITE SHALL 
  BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT. </p>

  <p><b>1. Copyright, Licenses and Idea Submissions.</b></p>

  <p>The entire contents of the Site are protected by international copyright and trademark laws. The owner of 
  the copyrights and trademarks are NickCool, LLC, its affiliates or other third party 
  licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, 
  THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions 
  of material from the different areas of the Site solely for your own non-commercial use provided that you agree 
  not to change or delete any copyright or proprietary notices from the materials. You agree to grant to 
  NickCool, LLC a non-exclusive, royalty-free, worldwide, perpetual license, with the right 
  to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly 
  perform any materials and other information (including, without limitation, ideas contained therein for new or 
  improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums 
  and newsgroups) or by e-mail to NickCool, LLC by all means and in any media now known or 
  hereafter developed. You also grant to NickCool, LLC the right to use your name in connection 
  with the submitted materials and other information as well as in connection with all advertising, marketing and 
  promotional material related thereto. You agree that you shall have no recourse against NickCool, LLC
  for any alleged or actual infringement or misappropriation of any proprietary right in your communications to 
  NickCool, LLC. </p>

  <p><b>TRADEMARKS.</b></p>

  <p>LIST TRADEMARKS LOGOS HERE Products and company trademarks, servicemarks, and names mentioned in the Site may 
  be the trademarks of their respective owners. </p>

  <p><b>2. Use of the Site.</b></p>

  <p>YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. NickCool, LLC 
  PROVIDES THE SITE AND RELATED INFORMATION &quot;AS IS&quot; AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, 
  REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR 
  THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY 
  MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND 
  NickCool, LLC SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR 
  INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND 
  USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON 
  THE INTERNET GENERALLY. NickCool, LLC DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED 
  OR ERROR-FREE OR THAT DEFECTS IN THE SERVICE WILL BE CORRECTED. </p>

  <p align="center"><b>LIMITATION OF LIABILITY</b></p>

  <p>IN NO EVENT WILL NickCool, LLC BE LIABLE FOR (I) ANY INCIDENTAL, CONSEQUENTIAL, OR 
  INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF 
  PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICE, OR ANY INFORMATION, 
  OR TRANSACTIONS PROVIDED ON THE SERVICE, OR DOWNLOADED FROM THE SERVICE, OR ANY DELAY OF SUCH INFORMATION OR SERVICE. 
  EVEN IF NickCool, LLC OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY 
  OF SUCH DAMAGES, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AND/OR 
  MATERIALS OR INFORMATION DOWNLOADED THROUGH THE SERVICE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION 
  OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, 
  NickCool, LLC's LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. </p>

  <p>NickCool, LLC makes no representations whatsoever about any other web site which you may
  access through this one or which may link to this Site. When you access a non-NickCool, LLC 
  Web site, please understand that it is independent from NickCool, LLC, and that 
  NickCool, LLC has no control over the content on that Web site. In addition, a link to a 
  NickCool, LLC Web site does not mean that NickCool, LLC endorses or 
  accepts any responsibility for the content, or the use, of such Web site. </p>

  <p><b>3. Indemnification.</b></p>

  <p>You agree to indemnify, defend and hold harmless NickCool, LLC, its officers, directors, 
  employees, agents, licensors, suppliers and any third party information providers to the Service from and against all 
  losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this 
  Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service. </p>

  <p><b>4. Third Party Rights.</b></p>

  <p>The provisions of paragraphs 2 (Use of the Service), and 3 (Indemnification) are for the benefit of 
  NickCool, LLC and its officers, directors, employees, agents, licensors, suppliers, and any 
  third party information providers to the Service. Each of these individuals or entities shall have the right to 
  assert and enforce those provisions directly against you on its own behalf. </p>

  <p><b>5.Term; Termination.</b></p>

  <p>This Agreement may be terminated by either party without notice at any time for any reason. The provisions of 
  paragraphs 1 (Copyright, Licenses and Idea Submissions), 2 (Use of the Service), 3 (Indemnification), 
  4 (Third Party Rights) and 6 (Miscellaneous) shall survive any termination of this Agreement. </p>

  <p><b>6.Miscellaneous.</b></p>

  <p>This Agreement shall all be governed and construed in accordance with the laws of the State of Florida
  applicable to agreements made and to be performed in Florida. You agree that any legal action or proceeding between 
  NickCool, LLC and you for any purpose concerning this Agreement or the parties' 
  obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting 
  in Florida. Any cause of action or claim you may have with respect to the Service must be commenced within 
  one (1) year after the claim or cause of action arises or such claim or cause of action is barred. 
  NickCool, LLC's failure to insist upon or enforce strict performance of any provision of 
  this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between 
  the parties nor trade practice shall act to modify any provision of this Agreement. NickCool, LLC 
  may assign its rights and duties under this Agreement to any party at any time without notice to you. </p>

  <p>Any rights not expressly granted herein are reserved.</p>

</div>