<footer>
<hr>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2017 Nickcool Designs, LLC. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </div>
</footer>