<footer>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>Nickcool Designs, LLC., &copy; <%= Time.now.year %> &middot; <%= link_to 'Terms', terms_path %> &middot; 
      <%= link_to 'Privacy', privacy_path %>
  </div>
</footer>