<footer>
<hr>
  <div class="container">
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2017 Nickcool Designs, LLC. ·&copy; <%= Time.now.year %> - <%= link_to 'Terms', terms_path %> &middot; 
      <%= link_to 'Privacy', privacy_path %>
  </div>
</footer>